{% extends 'base.html' %} {% load static %} 
{% block title %} Restaurant Menu {% endblock %} 
{% block content %}
<div class="container">
    <h1>Restaurant Menu</h1>
    {% for meal in meals%}
    <ul class="list-group list-group-flush">
        <h2 class="pt-5">{{meal.1}}</h2>
        {% for item in object_list%} 
            {% if item.meal_type == meal.0%} 
                {% if item.status == False %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                        <a href="{% url 'menu_item_detail' item.pk%}">
                            <h3><del>{{ item.meal }}</del></h3>
                        </a>
                        <span class="badge bg-primary rounded-pill">{{ item.price }}</span>
                    </li>
                {% else %}
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 pb-0">
                        <a href="{% url 'menu_item_detail' item.pk%}">
                            <h3>{{ item.meal }}</h3>
                        </a>
                        <span class="badge bg-primary rounded-pill">{{ item.price }}</span>
                    </li>
                {% endif %}
                <li class="list-group-item pt-0"><p>{{ item.description }}</p></li>
            {% endif %} 
        {% endfor %}
    {% endfor %}
    </ul> 
</div>
{% endblock %}
